.body{
padding:5px 20px;
float:left;

top:20%;
left:50%;
width:700px;
height:800px;



background:blue;

}

.top{
font-size:10px;
color:white;
text-align:center;
}

.tr{
font-size:20px;
text-align:center;
color:white;
}

#form{

    float: right;

    width:300px;
    height:200px;
    margin-right:200px;

}

.tr-list{
color:white;
text-align:center;

}

