{{>layout/header}}

<div class="body">
    <div class="top">
        <h1 class="title">오늘 할 일</h1>

        <div class="clock">
            <h1>{{time.year}}-{{time.monthValue}}-{{time.dayOfMonth}}-{{time.dayOfWeek}}</h1>
        </div>
    </div>


    <table class="table table-horizontal table-striped">
        <thead class=thead-strong"">
        <tr class="tr">
            <th>체크</th>
            <th>할 일</th>
            <th>중요</th>
        </tr>
        </thead>

        <tbody id="tbody">

        {{#todos}}
            <tr class="tr-list">

                <td><button type="button" class="btn btn-danger" id="btn-delete" value={{id}}>○</button></td>
                <td id="td-content" value={{id}}>{{content}}</td>
                <td id="td-star" value={{id}}>{{^star}}☆{{/star}}{{#star}}★{{/star}}</td>

            </tr>
        {{/todos}}
        </tbody>


    </table>

    <form class="form-inline" id="form">
        <div class="form-group">

            <div class="input-group">

                <input type="text" class="form-control" id="content" placeholder="내용을 입력하세요.">

            </div>
        </div>
        <button type="submit" class="btn btn-success" id="btn-save">등록</button>
    </form>

</div>


{{>layout/footer}}
